<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style type="text/css">
    html,
body {
  
  background-color: black;
}
  </style>
</head>
<body>
	<div style="background-color: black;" class="jumbotron text-center">
 <h1 class="display-1">404</h1>
<p class="lead">Page not found. You can
  <a href="javascript:history.back()">go back</a>
  to the previous page, or
  <a href="dashboard">return home</a>.</p>
</div>

</body>
</html>