{% extends 'layout.html' %}

{% block body %}
<p>Your current balance is {{ balance }} CC</p>
{% include 'includes/_messages.html' %}
<p></p>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Blockchain</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>All Transaction</th>
            <th>Amount</th>
            <th>Time</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>All Transaction</th>
            <th>Amount</th>
            <th>Time</th>
          </tr>
        </tfoot>
        <tbody>
          {% for block in blockchain %}
          
            <tr>
            	{% if roll in block.data %}
  	              {% if roll == block.data.split("-->")[0] %}

                    <td>{{ block.data.split("-->")[1]}}</td>
    	              <td><font color="red">{{'- ' + block.data.split("-->")[2] + ' cc'}}</font></td>
                    <td>{{ block.data.split("-->")[3]}}</td>
                  {% endif %}


                  {% if roll == block.data.split("-->")[1] %}

                    <td>{{ block.data.split("-->")[0]}}</td>
                    <td><font color="green">{{'+' + block.data.split("-->")[2] + ' cc'}}</font></td>
                    <td>{{ block.data.split("-->")[3]}}</td>
                  {% endif %}
	              
	            {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated today at {{ct}}</div>
</div>
{% endblock %}
