{% extends 'layout.html' %}

{% block body %}
{% include 'includes/_messages.html' %}
<p>Your current balance is {{ balance }} CC</p>
{% from "includes/_formhelpers.html" import render_field %}
<form action="" method="POST">
  <div class="from-group">
    <!-- <div class="from-label-group"> -->
      {{render_field(form.amount, class_="form-control",placeholder="Amount e.g(100)")}}
    <!-- </div> -->
  </div>
  <br>
  <!-- <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_WlDtMQc5tuvZQ3"
            data-buttontext = "BUY"
            data-amount="5100"
            data-name="Daft Punk"
            data-description="Purchase Description"
            data-image="vk.jpg"
            data-netbanking="true"
            data-description="Tron Legacy"
            data-prefill.name="Harshil Mathur"
            data-prefill.email="harshil@razorpay.com"
            data-prefill.contact="9999999999"
            data-notes.shopping_order_id="21">

        </script>
        
        <input type="hidden" name="shopping_order_id" value="21"> -->
        <p><input type="submit" class="btn btn-primary" value="Send"></p>
</form>
{% endblock %}
