<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style type="text/css">
    html,
body {
  
  background-color: black;
}
  </style>
</head>
<body>
	<div style="background-color: black;" class="jumbotron text-center">
  <h1 style="color: white;" class="display-3">LINK EXPIRED</h1>
  <p style="color: white;" class="lead"><strong>Please click below </strong> and  verify your account.</p>
  <hr>
  <p style="color: white;">
    Having trouble? <a href="">Contact us</a>
  </p>
  <p style="color: white;" class="lead">
    <a class="btn btn-primary btn-sm" href="/resend" role="button">Verify</a>
  </p>
</div>

</body>
</html>