<!DOCTYPE html>
<html>
<title>RECurrency</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-amber.css">
<body style="max-width:600px;background-color: #3d3d3d">

<nav class="w3-sidebar w3-bar-block w3-card" id="mySidebar">
<div class="w3-container w3-theme-d2">
  <span onclick="closeSidebar()" class="w3-button w3-display-topright w3-large">X</span>
  <br>
  
</div>
<br>
<a class="w3-bar-item w3-button" href="#">Login</a>
<a class="w3-bar-item w3-button" href="#">Register</a>
<a class="w3-bar-item w3-button" href="#">About</a>
</nav>

<header class="w3-bar w3-card w3-theme">
  <button class="w3-bar-item w3-button w3-xxxlarge w3-hover-theme" onclick="openSidebar()">&#9776;</button>
  <h1 style="text-align: center;" class="w3-bar-item">RECurrency</h1>
</header>

<div class="w3-container">
<hr>
<div class="w3-cell-row">
  <div class="w3-cell w3-container">
    <h3 style="text-align: center;" >Welcome,</h3>
    <p style="text-align: center;font-size: 20px;">We simplified the Blockchain Technology of sending money by our user-friendly interface and efficient servers.</p>
    <br>
    <p  style="text-align: center;"><button style="border-radius: 10px;background-color: #ffbf00;"  onclick="window.location.href='/login';">Login</button></p>
    <br>
    <p  style="text-align: center;"><button style="border-radius: 10px;background-color: #ffbf00;" onclick="window.location.href='/register';">Get Started</button></p>
  </div>
</div>  
<hr>
<script>
closeSidebar();
function openSidebar() {
  document.getElementById("mySidebar").style.display = "block";
}

function closeSidebar() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
