<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style-mb.css')}}">
</head>
<body>
  <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
</div>
<span style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776; Login</span>
<div style="background: white" class="container">

    <!-- <h2>Login</h2> -->
</div>
{% include 'includes/_messages.html' %}
<br>
<br>
<br>
<form action="" method="POST">
    <label for="roll"><b>Roll Number</b></label>
    <input type="text" name="roll" id="roll" required autofocus="autofocus">
    <br>
    <label for="password"><b>Password</b></label>

    <input type="password" name="password" id="password" required autofocus="autofocus">
    <br>
    <br>
    <label>
      <input type="checkbox" name="remember" onclick="myFunction()"> Show Password
    </label>
    <span class="psw"><a style="color: red;" href="/forgotpass">Forgot password?</a></span>
    <br>
    <br>
    <button type="submit">Login</button>
    <button style="float: right;" onclick="location.href='/register'">Signup</button>
</form>

<script>
  function myFunction(){
    var x = document.getElementById("password");
    if (x.type === "password")
     {
      x.type = "text";}
    else {x.type = "password";}
  }
</script>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
  document.body.style.backgroundColor = "white";
}
</script>

</body>
</html>
