<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style-mb.css')}}">
</head>
<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
</div>
<span style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776; Register</span>
<div style="background: white" class="container">
        <h3 class="panel-title" align="center">Register</h3>
    </div>
    {% include 'includes/_messages.html' %}
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="" autocomplete="off">
        <div class="row register-form">
            <div class="col-xs-6 col-sm-6 col-md-6">

                <div class="form-group">
                    <!-- <input type="text" name="name" id="name" class="form-control input-sm" placeholder="Name" autofocus="autofocus" value={{request.form.name}}> -->
                    {{render_field(form.name, class_="form-control",placeholder="Full Name",autofocus="autofocus")}}
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                    <!-- <input type="text" name="roll" id="roll" class="form-control input-sm" placeholder="Roll Number" autofocus="autofocus"  value={{request.form.roll}}> -->
                    {{render_field(form.roll, class_="form-control",placeholder="Roll/Staff Number",autofocus="autofocus")}}
                </div>
            </div>
        </div>

        <div class="row register-form">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    <!-- <input  type="text" name="email" id="email" class="form-control input-sm" placeholder="Email" autofocus="autofocus"  value={{request.form.email}}> -->
                    {{render_field(form.email, class_="form-control",placeholder="Email",autofocus="autofocus")}}
                </div>
            </div>
        </div>

        <div class="row register-form">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                    <!-- <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" autofocus="autofocus"  value={{request.form.password}}> -->
                    {{render_field(form.password, class_="form-control",placeholder="Password",autofocus="autofocus")}}                                    </div>
                </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
                 <div class="form-group">
                    <!-- <input type="password" name="confirm" id="confirm" class="form-control input-sm" placeholder="Confirm Password" autofocus="autofocus"  value={{request.form.confirm}}> -->
                    {{render_field(form.confirm, class_="form-control",placeholder="Retype Password",autofocus="autofocus")}}
                    <!-- {{form.confirm(placeholder="Retype Password")}} -->
                </div>
            </div>
        </div>
    </form>
    <label>
    <input  type="checkbox" onclick="myFunction()">Show Password
    </label>
    <br>
    <br>
    <button type="submit" name="button">Register</button>


 <script>
    function myFunction(){
        var x = document.getElementById("confirm");
        var y = document.getElementById("password");
        if ((x.type === "password") && (y.type === "password")){
            x.type = "text";
            y.type = "text";
        }
        else{
            x.type = "password";
            y.type = "password";
        }
    }
</script>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
  document.body.style.backgroundColor = "white";
}
</script>

</body>
</html>
