{% extends 'layout.html' %}

{% block body %}
{% include 'includes/_messages.html' %}
<p>Your current balance is {{ balance }} CC</p>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" action="">
  <div class="from-group">
    {{render_field(form.roll, class_="form-control",placeholder="Recipient's Roll/Staff Number")}}
  </div>
  <br>
  <div class="from-group">
    {{render_field(form.amount, class_="form-control",placeholder="Amount e.g(100)")}}
  </div>
  </br>
  <div class="from-group">
    {{render_field(form.password, class_="form-control",placeholder="Your Password")}}
  </div>
  <br>
  <div class="from-group">
    <label>
      <input   type="checkbox" onclick="myFunction()">  Show Password
    </label>
  </div>
  <br>
  <p><input style="outline: none;" type="submit" class="btn btn-primary" value="Send"></p>
</form>
<script>
                                    function myFunction() {
                                      var x = document.getElementById("pass");
                                     
                                      if (x.type === "password")  {
                                        x.type = "text";
                                        ;
                                      } else {
                                        x.type = "password";
                                        
                                      }
                                    }
                                    </script>
{% endblock %}
